
week_1/test.py
week_1/__pycache__/uitwerkingen.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
*.pyc
.vscode
week_2/uitwerkingen.py___jb_tmp___
tensorflow ddl error/libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
*.dll
