
week_1/test.py
week_1/__pycache__/uitwerkingen.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
__pycache__/__init__.cpython-38.pyc
week_1/__pycache__/uitwerkingen.cpython-38.pyc
*.pyc
